body {
  font-family: 'Quicksand', sans-serif;
}

.Homepage{
  max-width: 900px;
  margin: auto;
}
.navbar{
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  color: hotpink;
}
.nav-links{
  margin-left: auto;
}
.nav-links a{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
  color: hotpink;
}
/* blog */
.blog{
  padding: 15px;
  margin: 15px 0;
  transition: .3s;
  border-bottom: 1px solid #ddd;
}
.blog:hover{
  box-shadow: 1px 1px 8px #ddd;
  border-radius: 10px;
}
.blog h1{
  color: hotpink;
  margin-bottom: 0;
}
.blog span{
  font-size: 18px;
  font-weight: 400;
  color: darkgray;
}
.blog p{
  font-size: 18px;
  font-weight: 500;
}
